<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
    colors="true">
    <php>
        <env name="db_host" value="localhost"/>
        <env name="db_username" value="postgres"/>
        <env name="db_password" value=""/>
    </php>
    <testsuite name="PseudoORM Test Suite">
        <directory>test</directory>
    </testsuite>
    <testsuite name="PseudoORM Test Functional Tests">
        <directory suffix=".phpt">test/functional</directory>
    </testsuite>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>
</phpunit>
